html
  head
    title='Sample App'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        h2 Check out the docks
        p
          a.btn.btn-primary(href="https://docs.docker.com/get-started/" target="_blank") Get Started with Docker

          a.btn.btn-outline-primary(href="https://kubernetes.io/docs/home/" target="_blank") The Kubernetes Docs
          
        p
